

body{
	padding-top: 10px;
	padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color:#2d3c49;
    font-size: 14px;
}

.container{
	max-width: 750px;
	margin: 0 auto;
}

.card{
	width: 128px
	height: 138px;
	margin:10px 0px 0px 0px;

}

.front{
}

.back{	
	display: none;
}

footer{
	margin-top: 20px;
}