

body{
	padding-top: 10px;
	padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background: url(../img/background.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
  	background-size: cover;
  	color:#fff;
}
a, a:visited, a:hover{
	color:#e7e7e7;
	font-weight: bold;
	text-decoration: none;
}

#gameover{
	color: #2d3c49;
}

.container{
	max-width: 950px;
	margin: 0 auto;
}

.content{
	top: 25%;
	position: fixed;
}

.card{
	width: 100px;
	margin: 5px 20px 0px 30px;
}

.front{
}

.back{
	display: none;
}

.bg-brown{
	background-color: #c69c6d;
}

footer{
	bottom: 5px;
	position: fixed;
	left: 35%;
}